<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_HDEL_PP_GET_ZPPR005">
					<security mode="None" />
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://hdelmesdev01/Apriso/WebServices/Public/HDEL_PP_GET_ZPPR005.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_HDEL_PP_GET_ZPPR005"
                contract="HDEL_PP_GET_ZPPR005" name="WSHttpBinding_HDEL_PP_GET_ZPPR005" />
		</client>
	</system.serviceModel>
</configuration>